.App {
  text-align: center;
}

iframe {
  height: 100vh;
  width: 100vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/*Welcome color*/
.welcomeColor{
  background: #4776E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #FFF,#F3EDFF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #FFF,#F3EDFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-top: 200px;


}


.list{
  padding-top: 100px;
}

.list li{
  font-size: 30px;
  padding-top: 20px;
    
}

/*fade in fade out animation*/
@keyframes fadeInUp {
  from { 
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.welcomeColor h1{
  opacity: 0; 
  font-size: 70px;
  background-image: linear-gradient(45deg,#AF6EAD, #8177BC,#D19292);
background-clip: text;
-webkit-text-fill-color: transparent;


  
  animation: fadeInUp 1s ease-in-out 0s forwards;
}
/*Number icon*/
span .one{
  display: block;
  height: 60px;
  width: 60px;
  line-height: 60px;

  -moz-border-radius: 30px; /* or 50% */
  border-radius: 30px; /* or 50% */

  background-color: #A870B0;
  color: white;
  text-align: center;
  font-size: 2em;
}
span .two{
  display: block;
  height: 60px;
  width: 60px;
  line-height: 60px;

  -moz-border-radius: 30px; /* or 50% */
  border-radius: 30px; /* or 50% */

  background-color: #9A73B5;
  color: white;
  text-align: center;
  font-size: 2em;
}
span .three{
  display: block;
  height: 60px;
  width: 60px;
  line-height: 60px;

  -moz-border-radius: 30px; /* or 50% */
  border-radius: 30px; /* or 50% */

  background-color: #9A73B5;
  color: white;
  text-align: center;
  font-size: 2em;
}
span .four{
  display: block;
  height: 60px;
  width: 60px;
  line-height: 60px;

  -moz-border-radius: 30px; /* or 50% */
  border-radius: 30px; /* or 50% */

  background-color: #9D81AE;
  color: white;
  text-align: center;
  font-size: 2em;
  
}
span .five{
  display: block;
  height: 60px;
  width: 60px;
  line-height: 60px;

  -moz-border-radius: 30px; /* or 50% */
  border-radius: 30px; /* or 50% */

  background-color: #BD8C9D;
  color: white;
  text-align: center;
  font-size: 2em;
}
/*END Number icon*/
.list li .second{
  opacity: 0; 
  animation: fadeInUp 1s ease-in-out 0s forwards;
  animation-delay: 3s;
}
.list li .third{
  opacity: 0; 
  animation: fadeInUp 1s ease-in-out 0s forwards;
  animation-delay: 4s;
}
.list li .fourth{
  opacity: 0; 
  animation: fadeInUp 1s ease-in-out 0s forwards;
  animation-delay: 5s;
}
.list li .fifth{
  opacity: 0; 
  animation: fadeInUp 1s ease-in-out 0s forwards;
  animation-delay: 6s;
}
.list li .sixth{
  opacity: 0; 
  animation: fadeInUp 1s ease-in-out 0s forwards;
  animation-delay: 7s;
}
  
/* END fade in fade out animation*/

/*END Welcome color*/

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
  
}
